<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    		http://www.springframework.org/schema/beans/spring-beans.xsd
        	http://www.springframework.org/schema/context 
        	http://www.springframework.org/schema/context/spring-context.xsd
        	http://www.springframework.org/schema/aop 
        	http://www.springframework.org/schema/aop/spring-aop.xsd
        	http://www.springframework.org/schema/tx 
        	http://www.springframework.org/schema/tx/spring-tx.xsd
        	"> 
	<import resource="classpath:hibernate-spring.xml"/>
	
	
	 <!-- hibernate中通过sessionFactory创建得session对对象进行操作，spring提供一个hibernateTemplate进行操作，跟spring中的jdbcTemplate一样，
	    继承HibernateDaoSupport后，注入SessionFactory即可，在dao层就不用在写hibernateTemplate的set方法了。
	  -->
	 <context:component-scan base-package="xc.ssh.*"/>

	
</beans>
